[defaults]
inventory = inventories/lab/hosts.ini
roles_path = roles
host_key_checking = False
retry_files_enabled = False
# stdout_callback = yaml
# Configuration pour le format de sortie YAML avec le callback par défaut
stdout_callback = default
result_format = yaml


interpreter_python = auto_silent

[ssh_connection]
# Augmenter la résilience de la connexion SSH
# Utile pour les cibles qui démarrent lentement (conteneurs, VMs)
retries = 3
connect_timeout = 10

